.main {
  background: url(../assets/AnimatedStars.gif);
}

.btn {
  padding: 1rem 2rem;
  font-weight: 700;
  background: rgb(246, 246, 246);
  color: rgb(0, 0, 0);
  cursor: pointer;
  border-radius: 0.5rem;
  border-bottom: 2px solid transparent;
  border-right: 2px solid transparent;
  border-top: 2px solid transparent;
  border-left: 2px solid transparent;
  transition-duration: 1s;
  transition-property: border-top, border-left, border-bottom, border-right,
    box-shadow;
}

.btn:hover {
  box-shadow: rgba(241, 96, 0, 0.4) 5px 5px, rgba(255, 85, 0, 0.3) 10px 10px,
    rgba(255, 51, 0, 0.2) 15px 15px;
}
.icon {
  color: rgb(255, 255, 255);
  cursor: pointer;
  border-radius: 0.5rem;
  border-bottom: 2px solid transparent;
  border-right: 2px solid transparent;
  border-top: 2px solid transparent;
  border-left: 2px solid transparent;
  transition-duration: 1s;
  transition-property: border-top, border-left, border-bottom, border-right,
    box-shadow;
}

.icon:hover {
  box-shadow: rgba(241, 96, 0, 0.4) 5px 5px, rgba(255, 85, 0, 0.3) 10px 10px,
    rgba(255, 51, 0, 0.2) 15px 15px;
}
